#search-form {
  padding-left: 20%;
  padding-right: 20%;
  background: #363636;
  min-height: 80px;
  height: 100vh;
  display: flex;
  align-items: center;
}
#search-form input {
  margin-right: 5px;
}
.container .image{
  display: inline-block;
  width: 24%;
  margin: 5px;
  background: #fff;
}
