
#search-form  {
  padding-left: 20%;
  padding-right: 20%;
  background: #363636;
  min-height: 80px;
  
  height: 100vh;
  display: flex;
  align-items: center;   

  input {
    margin-right: 5px;
  }
}